@import url("https://fonts.googleapis.com/css2?family=Inter&family=Righteous&family=Sintony:wght@400;700&family=Source+Sans+Pro:wght@400;700;900&display=swap");
// @import url("./light-mode.scss");
// Миксин для адаптива
$maxWidth: 1920;
$maxWidthContainer: 1170;

@mixin adaptive($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type == 1 {
    // Если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type == 2 {
    // Если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    // Всегда
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}
#main-page {
  background: url(./assets/BG.png) no-repeat top;
}
#check-header {
  background: #5daeab;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.header {
  @include adaptive("padding-right", 100, 20, 1);
  @include adaptive("padding-left", 100, 20, 1);
  @include adaptive("padding-top", 10, 5, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  &__logo {
    @include adaptive("font-size", 24, 8, 1);
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    text-transform: uppercase;
    color: #17252a;
  }
  &__accessibility {
    @include adaptive("width", 100, 40, 1);
    @include adaptive("height", 100, 40, 1);
    border-radius: 50%;
    border: none;
    background: transparent;
  }
  &__accessibility-img {
    filter: hue-rotate(120deg) brightness(10);
    @include adaptive("width", 90, 30, 1);
    @include adaptive("height", 90, 30, 1);
  }
}
.main {
  @include adaptive("max-width", 1108, 300, 1);
  @include adaptive("margin-left", 165, 20, 1);
  @include adaptive("margin-right", 165, 20, 1);
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  &__title {
    @include adaptive("font-size", 58, 20, 1);
    @include adaptive("margin-top", 50, 10, 1);
    font-weight: 900;
    line-height: 56px;
    text-align: center;
    color: #feffff;
  }
  .colorize {
    color: #17252a;
  }
  &__button-new,
  &__button-cont {
    @include adaptive("width", 300, 200, 1);
    @include adaptive("height", 100, 50, 1);
    border-radius: 20px;
    border: none;
    font-weight: bold;
    @include adaptive("font-size", 20, 11, 1);
    line-height: 24px;
    text-align: center;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    background-color: #17252a;
    color: #feffff;
  }
  &__button-new {
    @include adaptive("margin-bottom", 70, 20, 1);
  }
  &__cards {
    @include adaptive("margin-top", 80, 20, 1);
    @include adaptive("margin-left", 163, 60, 1);
    @include adaptive("margin-right", 163, 60, 1);
    max-width: 94vw;
    display: flex;
    justify-content: space-between;
  }
  &__card:not(:last-child) {
    @include adaptive("margin-right", 50, 10, 1);
  }
  &__card {
    @include adaptive("width", 400, 55, 1);
    @include adaptive("height", 390, 190, 1);
    @include adaptive("padding", 50, 15, 0);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #feffff;
    box-shadow: (4px 4px 12px rgba(0, 0, 0, 0.5));
  }
  &__card-text {
    @include adaptive("font-size", 18, 12, 1);
    @include adaptive("padding-top", 47, 20, 1);
    @include adaptive("padding-bottom", 27, 9, 1);
    @include adaptive("padding-right", 30, 10, 1);
    @include adaptive("padding-left", 30, 10, 1);
    text-align: center;
    font-family: "Sintony", sans-serif;
    color: #17252a;
  }
  &__card-name {
    @include adaptive("padding", 100, 50, 1);
    @include adaptive("margin-top", 35, 10, 1);
    @include adaptive("font-size", 18, 12, 1);
    text-align: center;
    border-radius: 20px;
    font-family: "Sintony", sans-serif;
    color: #6d7783;
    background-color: #d8d8d8;
  }
}
.footer {
  @include adaptive("width", 1114, 280, 1);
  @include adaptive("height", 329, 100, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  &__text {
    @include adaptive("width", 308, 300, 1);
    @include adaptive("font-size", 18, 10, 1);
    color: #17252a;
  }
  &__contacts {
    @include adaptive("margin-left", 35, 15, 1);
    @include adaptive("font-size", 18, 8, 1);
    display: flex;
    justify-content: flex-end;
    font-family: "Sintony", sans-serif;
    line-height: 27px;
    color: #17252a;
  }
  &__email {
    @include adaptive("margin-right", 100, 13, 1);
  }

  &__telephone {
    @include adaptive("margin-right", 10, 3, 1);
  }
}
.popup-fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 2;
}
.popup-fade {
  &__popup {
    @include adaptive("padding", 50, 20, 1);
    position: absolute;
    top: 6%;
    left: 24%;
    right: 24%;
    background: #c4c4c4;
    border-radius: 10px;
    z-index: 9;
    opacity: 1;
    display: flex;
    flex-direction: column;
  }
  &__popup-close {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__inputs {
    @include adaptive("font-size", 16, 8, 1);
    font-family: "Source Sans Pro";
    font-weight: 900;
    display: flex;
    flex-direction: column;
  }
  &__input {
    @include adaptive("font-size", 24, 12, 1);
    @include adaptive("margin-bottom", 8, 4, 1);
  }
  &__input:not(:first-child) {
    @include adaptive("margin-top", 32, 8, 1);
  }
  .modal-input {
    @include adaptive("padding", 7, 3, 1);
    width: 90%;
    border-radius: 5px;
    border: none;
  }
  .modal-input:last-child {
    padding-bottom: 5vh;
  }
  &__start {
    @include adaptive("width", 150, 50, 1);
    @include adaptive("height", 70, 20, 1);
    @include adaptive("font-size", 24, 8, 1);
    @include adaptive("margin-top", 32, 8, 1);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4.2px;
    border: none;
    border-radius: 15px;
    margin-left: auto;
    background-color: #17252a;
    color: #feffff;
  }
  &__ps {
    @include adaptive("font-size", 12, 8, 1);
    margin-bottom: auto;
  }
}
#check-header {
  padding-bottom: 3vh;
}
.check-main {
  @include adaptive("margin-top", 20, 5, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__buttons {
    @include adaptive("padding", 8, 3, 1);
    width: 90%;
    background-color: #2b7a78;
    border-radius: 25px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__back-btn {
    border: none;
    background-color: transparent;
  }
  .btn-back-img {
    @include adaptive("width", 60, 10, 1);
    @include adaptive("height", 60, 10, 1);
  }
  #btn-new,
  #btn-open,
  #btn-save,
  #btn-stat,
  #btn-info {
    border: none;
    background-color: transparent;
  }
  &__btn {
    @include adaptive("width", 140, 40, 1);
    @include adaptive("height", 50, 10, 1);
    @include adaptive("padding-right", 10, 1, 1);
    @include adaptive("padding-left", 10, 1, 1);
    @include adaptive("font-size", 12, 6, 1);
    @include adaptive("line-height", 14, 4, 1);
    font-family: "Source Sans Pro";
    font-weight: bold;
    letter-spacing: 2.6px;
    color: #17252a;
    background-color: #f2f2f2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .impo {
    @include adaptive("font-size", 18, 8, 1);
  }
  .btn-img {
    @include adaptive("width", 33, 13, 1);
    @include adaptive("height", 33, 13, 1);
  }
  &__btn-generation {
    @include adaptive("width", 160, 50, 1);
    @include adaptive("height", 60, 10, 1);
    @include adaptive("font-size", 13, 5, 1);
    font-family: "Source Sans Pro";
    font-weight: bold;
    letter-spacing: 2.6px;
    color: #17252a;
    border: none;
    background-color: #17252a;
    color: #f2f2f2;
    border-radius: 15px;
  }
  &__info {
    @include adaptive("width", 110, 20, 1);
    @include adaptive("height", 70, 12, 1);
    @include adaptive("padding-top", 5, 2, 1);
    @include adaptive("font-size", 14, 6, 1);
    font-weight: bold;
    letter-spacing: 2.6px;
    color: #17252a;
    background-color: #f2f2f2;
    border-radius: 15px;
  }
  &__content {
    font-family: "Source Sans Pro";
    display: flex;
    max-width: 90%;
  }
  &__check-lists {
    @include adaptive("margin-top", 10, 5, 1);
    @include adaptive("padding-top", 10, 5, 1);
    border-radius: 20px;
    background-color: #2b7a78;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
  }
  &__check-list {
    @include adaptive("height", 70, 20, 1);
    @include adaptive("margin-bottom", 10, 3, 1);
    @include adaptive("margin-top", 10, 3, 1);
    @include adaptive("font-size", 13, 2, 1);
    width: 80%;
    text-transform: uppercase;
    background-color: #feffff;
    color: #17252a;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  &__named {
    @include adaptive("margin", 10, 3, 1);
    @include adaptive("padding", 12, 3, 1);
    @include adaptive("margin-right", -10, -3, 1);
    display: flex;
    align-items: center;
    background-color: #2b7a78;
    border-radius: 10px;
    position: relative;
  }
  &__name-check {
    @include adaptive("padding", 5, 1, 1);
    @include adaptive("padding-left", 15, 3, 1);
    @include adaptive("font-size", 14, 8, 1);
    font-weight: bold;
    letter-spacing: 3.2px;
    color: #6d7783;
    width: 100%;
    border: none;
    border-radius: 5px;
  }
  #check-name {
    width: 2vw;
    height: 2vw;
    position: absolute;
    right: 1vw;
  }
  &__check {
    @include adaptive("margin-left", 10, 3, 1);
    @include adaptive("margin-right", -10, -3, 1);
    @include adaptive("height", 600, 300, 1);
    margin-top: 0px;
    display: flex;
  }
  &__section {
    @include adaptive("padding", 25, 1, 1);
    background-color: #2b7a78;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include adaptive("font-size", 24, 10, 1);
    font-weight: bold;
    line-height: 30px;
    text-align: right;
    letter-spacing: 4.2px;
    text-decoration-line: underline;
    color: #feffff;
  }
  &__per,
  &__mist,
  &__comm,
  &__title-wgac {
    @include adaptive("padding-top", 20, 10, 1);
    @include adaptive("font-size", 18, 10, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    letter-spacing: 4.2px;
    color: #feffff;
  }
  #per,
  #mist,
  #comm {
    @include adaptive("font-size", 14, 10, 1);
    @include adaptive("padding", 5, 1, 1);
    width: 56%;
    border-radius: 5px;
    border: none;
    background-color: #feffff;
  }
  #comm {
    height: 20vh;
  }
  &__wgac {
    @include adaptive("font-size", 14, 10, 1);
    line-height: 30px;
    text-align: right;
    letter-spacing: 2.2px;
    color: #feffff;
  }

  &__button {
    @include adaptive("width", 150, 80, 1);
    @include adaptive("font-size", 20, 10, 1);
    @include adaptive("margin-top", 30, 10, 1);
    @include adaptive("padding", 15, 10, 1);
    align-self: center;
    font-weight: bold;
    border: none;
    background-color: #17252a;
    color: #feffff;
    border-radius: 10px;
  }

  &__crits {
    @include adaptive("margin-left", 10, 3, 1);
    @include adaptive("padding-left", 10, 3, 1);
    background-color: #2b7a78;
    border-radius: 10px;
    width: 25%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__check-crit {
    @include adaptive("height", 40, 5, 1);
    @include adaptive("margin-bottom", 15, 3, 1);
    @include adaptive("margin-top", 15, 3, 1);
    @include adaptive("font-size", 13, 8, 1);
    width: 90%;
    background-color: #feffff;
    color: #17252a;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }

  &__info-page {
    @include adaptive("margin-top", 10, 3, 1);
    @include adaptive("margin-left", 20, 6, 1);
    @include adaptive("padding", 20, 6, 1);
    @include adaptive("font-size", 16, 10, 1);
    color: #17252a;
    background-color: #d8d8d8;
    border-radius: 10px;
    width: 15%;
    overflow-y: auto;
  }
}
.check-popup-fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 2;
}
.check-popup-fade {
  font-family: "Source Sans Pro";
  font-weight: 900;
  color: #17252a;
  &__popup {
    @include adaptive("padding", 50, 10, 1);
    position: absolute;
    top: 6%;
    left: 22vw;
    right: 22vw;
    background: #c4c4c4;
    border-radius: 10px;
    z-index: 99;
    opacity: 1;
    display: flex;
    flex-direction: column;
  }
  &__popup-close {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__title {
    @include adaptive("font-size", 28, 14, 1);
    text-align: center;
  }

  &__content {
    @include adaptive("padding", 20, 5, 1);
  }
  input {
    @include adaptive("width", 30, 10, 1);
    @include adaptive("height", 30, 10, 1);
    @include adaptive("margin-right", 10, 5, 1);
  }
  .cb-container {
    @include adaptive("margin-bottom", 8, 4, 1);
    display: flex;
    align-items: center;
  }
  .param-container {
    display: flex;
    justify-content: space-between;
  }
  &__check-lists,
  &__smist,
  &__perform,
  &__wgac,
  &__comm,
  &__conclus {
    @include adaptive("margin-top", 10, 5, 1);
    @include adaptive("padding-top", 10, 5, 1);
    display: flex;
    align-items: start;
    border-top: 1px solid #17252a;
  }
  &__smist,
  &__comm,
  &__conclus {
    align-items: center;
    justify-content: start;
  }

  #cb-sourmist,
  #cb-comm,
  #cb-conclus {
    @include adaptive("margin-left", 20, 5, 1);
  }

  &__check-container {
    @include adaptive("margin-top", 20, 5, 1);
    @include adaptive("margin-left", 100, 40, 1);
    display: flex;
    flex-direction: column;
  }

  &__param-title {
    @include adaptive("margin-bottom", 20, 5, 1);
    text-align: center;
  }

  &__param {
    @include adaptive("margin-top", 20, 5, 1);
    border-top: 2px solid #17252a;
  }

  &__ok {
    @include adaptive("width", 150, 50, 1);
    @include adaptive("height", 70, 20, 1);
    @include adaptive("font-size", 24, 8, 1);
    @include adaptive("margin-top", 32, 8, 1);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4.2px;
    border: none;
    border-radius: 15px;
    margin-left: auto;
    background-color: #17252a;
    color: #feffff;
  }
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
button {
  cursor: pointer;
}
.hidden {
  display: none;
}
.check-list-active {
  background-color: #17252a;
  outline: 5px solid #d8d8d8;
  text-decoration-line: underline;
  color: #d8d8d8;
}
.check-list-completed {
  background-color: #17252a;
  color: #d8d8d8;
}

.check-crit-active {
  background-color: #17252a;
  outline: 5px solid #d8d8d8;
  text-decoration-line: underline;
  color: #d8d8d8;
}
.check-crit-completed {
  background-color: #17252a;
  color: #d8d8d8;
}
