@import url("https://fonts.googleapis.com/css2?family=Inter&family=Righteous&family=Sintony:wght@400;700&family=Source+Sans+Pro:wght@400;700;900&display=swap");
@import url("./light-mode.scss");
#main-page {
  background: url(../img/BG.png) no-repeat top;
}

#check-header {
  background: #5daeab;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

@media (max-width: 1170px) {
  .header {
    padding-right: calc(20px + 80 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .header {
    padding-left: calc(20px + 80 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .header {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 850));
  }
}

.header__logo {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  text-transform: uppercase;
  color: #17252a;
}

@media (max-width: 1170px) {
  .header__logo {
    font-size: calc(8px + 16 * ((100vw - 320px) / 850));
  }
}

.header__accessibility {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: transparent;
}

@media (max-width: 1170px) {
  .header__accessibility {
    width: calc(40px + 60 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .header__accessibility {
    height: calc(40px + 60 * ((100vw - 320px) / 850));
  }
}

.header__accessibility-img {
  -webkit-filter: hue-rotate(120deg) brightness(10);
          filter: hue-rotate(120deg) brightness(10);
  width: 90px;
  height: 90px;
}

@media (max-width: 1170px) {
  .header__accessibility-img {
    width: calc(30px + 60 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .header__accessibility-img {
    height: calc(30px + 60 * ((100vw - 320px) / 850));
  }
}

.main {
  max-width: 1108px;
  margin-left: 165px;
  margin-right: 165px;
  font-family: "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 1170px) {
  .main {
    max-width: calc(300px + 808 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main {
    margin-left: calc(20px + 145 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main {
    margin-right: calc(20px + 145 * ((100vw - 320px) / 850));
  }
}

.main__title {
  font-size: 58px;
  margin-top: 50px;
  font-weight: 900;
  line-height: 56px;
  text-align: center;
  color: #feffff;
}

@media (max-width: 1170px) {
  .main__title {
    font-size: calc(20px + 38 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__title {
    margin-top: calc(10px + 40 * ((100vw - 320px) / 850));
  }
}

.main .colorize {
  color: #17252a;
}

.main__button-new, .main__button-cont {
  width: 300px;
  height: 100px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  background-color: #17252a;
  color: #feffff;
}

@media (max-width: 1170px) {
  .main__button-new, .main__button-cont {
    width: calc(200px + 100 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__button-new, .main__button-cont {
    height: calc(50px + 50 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__button-new, .main__button-cont {
    font-size: calc(11px + 9 * ((100vw - 320px) / 850));
  }
}

.main__button-new {
  margin-bottom: 70px;
}

@media (max-width: 1170px) {
  .main__button-new {
    margin-bottom: calc(20px + 50 * ((100vw - 320px) / 850));
  }
}

.main__cards {
  margin-top: 80px;
  margin-left: 163px;
  margin-right: 163px;
  max-width: 94vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1170px) {
  .main__cards {
    margin-top: calc(20px + 60 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__cards {
    margin-left: calc(60px + 103 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__cards {
    margin-right: calc(60px + 103 * ((100vw - 320px) / 850));
  }
}

.main__card:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 1170px) {
  .main__card:not(:last-child) {
    margin-right: calc(10px + 40 * ((100vw - 320px) / 850));
  }
}

.main__card {
  width: 400px;
  height: 390px;
  padding: calc(15px + 35 * ((100vw - 320px) / 1600));
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #feffff;
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1170px) {
  .main__card {
    width: calc(55px + 345 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card {
    height: calc(190px + 200 * ((100vw - 320px) / 850));
  }
}

.main__card-text {
  font-size: 18px;
  padding-top: 47px;
  padding-bottom: 27px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  font-family: "Sintony", sans-serif;
  color: #17252a;
}

@media (max-width: 1170px) {
  .main__card-text {
    font-size: calc(12px + 6 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card-text {
    padding-top: calc(20px + 27 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card-text {
    padding-bottom: calc(9px + 18 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card-text {
    padding-right: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card-text {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

.main__card-name {
  padding: 100px;
  margin-top: 35px;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
  font-family: "Sintony", sans-serif;
  color: #6d7783;
  background-color: #d8d8d8;
}

@media (max-width: 1170px) {
  .main__card-name {
    padding: calc(50px + 50 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card-name {
    margin-top: calc(10px + 25 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card-name {
    font-size: calc(12px + 6 * ((100vw - 320px) / 850));
  }
}

.footer {
  width: 1114px;
  height: 329px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

@media (max-width: 1170px) {
  .footer {
    width: calc(280px + 834 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer {
    height: calc(100px + 229 * ((100vw - 320px) / 850));
  }
}

.footer__text {
  width: 308px;
  font-size: 18px;
  color: #17252a;
}

@media (max-width: 1170px) {
  .footer__text {
    width: calc(300px + 8 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer__text {
    font-size: calc(10px + 8 * ((100vw - 320px) / 850));
  }
}

.footer__contacts {
  margin-left: 35px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Sintony", sans-serif;
  line-height: 27px;
  color: #17252a;
}

@media (max-width: 1170px) {
  .footer__contacts {
    margin-left: calc(15px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer__contacts {
    font-size: calc(8px + 10 * ((100vw - 320px) / 850));
  }
}

.footer__email {
  margin-right: 100px;
}

@media (max-width: 1170px) {
  .footer__email {
    margin-right: calc(13px + 87 * ((100vw - 320px) / 850));
  }
}

.footer__telephone {
  margin-right: 10px;
}

@media (max-width: 1170px) {
  .footer__telephone {
    margin-right: calc(3px + 7 * ((100vw - 320px) / 850));
  }
}

.popup-fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 2;
}

.popup-fade__popup {
  padding: 50px;
  position: absolute;
  top: 6%;
  left: 24%;
  right: 24%;
  background: #c4c4c4;
  border-radius: 10px;
  z-index: 9;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1170px) {
  .popup-fade__popup {
    padding: calc(20px + 30 * ((100vw - 320px) / 850));
  }
}

.popup-fade__popup-close {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup-fade__inputs {
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1170px) {
  .popup-fade__inputs {
    font-size: calc(8px + 8 * ((100vw - 320px) / 850));
  }
}

.popup-fade__input {
  font-size: 24px;
  margin-bottom: 8px;
}

@media (max-width: 1170px) {
  .popup-fade__input {
    font-size: calc(12px + 12 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .popup-fade__input {
    margin-bottom: calc(4px + 4 * ((100vw - 320px) / 850));
  }
}

.popup-fade__input:not(:first-child) {
  margin-top: 32px;
}

@media (max-width: 1170px) {
  .popup-fade__input:not(:first-child) {
    margin-top: calc(8px + 24 * ((100vw - 320px) / 850));
  }
}

.popup-fade .modal-input {
  padding: 7px;
  width: 90%;
  border-radius: 5px;
  border: none;
}

@media (max-width: 1170px) {
  .popup-fade .modal-input {
    padding: calc(3px + 4 * ((100vw - 320px) / 850));
  }
}

.popup-fade .modal-input:last-child {
  padding-bottom: 5vh;
}

.popup-fade__start {
  width: 150px;
  height: 70px;
  font-size: 24px;
  margin-top: 32px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4.2px;
  border: none;
  border-radius: 15px;
  margin-left: auto;
  background-color: #17252a;
  color: #feffff;
}

@media (max-width: 1170px) {
  .popup-fade__start {
    width: calc(50px + 100 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .popup-fade__start {
    height: calc(20px + 50 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .popup-fade__start {
    font-size: calc(8px + 16 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .popup-fade__start {
    margin-top: calc(8px + 24 * ((100vw - 320px) / 850));
  }
}

.popup-fade__ps {
  font-size: 12px;
  margin-bottom: auto;
}

@media (max-width: 1170px) {
  .popup-fade__ps {
    font-size: calc(8px + 4 * ((100vw - 320px) / 850));
  }
}

#check-header {
  padding-bottom: 3vh;
}

.check-main {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1170px) {
  .check-main {
    margin-top: calc(5px + 15 * ((100vw - 320px) / 850));
  }
}

.check-main__buttons {
  padding: 8px;
  width: 90%;
  background-color: #2b7a78;
  border-radius: 25px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1170px) {
  .check-main__buttons {
    padding: calc(3px + 5 * ((100vw - 320px) / 850));
  }
}

.check-main__back-btn {
  border: none;
  background-color: transparent;
}

.check-main .btn-back-img {
  width: 60px;
  height: 60px;
}

@media (max-width: 1170px) {
  .check-main .btn-back-img {
    width: calc(10px + 50 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main .btn-back-img {
    height: calc(10px + 50 * ((100vw - 320px) / 850));
  }
}

.check-main #btn-new,
.check-main #btn-open,
.check-main #btn-save,
.check-main #btn-stat,
.check-main #btn-info {
  border: none;
  background-color: transparent;
}

.check-main__btn {
  width: 140px;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 14px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  letter-spacing: 2.6px;
  color: #17252a;
  background-color: #f2f2f2;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1170px) {
  .check-main__btn {
    width: calc(40px + 100 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__btn {
    height: calc(10px + 40 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__btn {
    padding-right: calc(1px + 9 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__btn {
    padding-left: calc(1px + 9 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__btn {
    font-size: calc(6px + 6 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__btn {
    line-height: calc(4px + 10 * ((100vw - 320px) / 850));
  }
}

.check-main .impo {
  font-size: 18px;
}

@media (max-width: 1170px) {
  .check-main .impo {
    font-size: calc(8px + 10 * ((100vw - 320px) / 850));
  }
}

.check-main .btn-img {
  width: 33px;
  height: 33px;
}

@media (max-width: 1170px) {
  .check-main .btn-img {
    width: calc(13px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main .btn-img {
    height: calc(13px + 20 * ((100vw - 320px) / 850));
  }
}

.check-main__btn-generation {
  width: 160px;
  height: 60px;
  font-size: 13px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  letter-spacing: 2.6px;
  color: #17252a;
  border: none;
  background-color: #17252a;
  color: #f2f2f2;
  border-radius: 15px;
}

@media (max-width: 1170px) {
  .check-main__btn-generation {
    width: calc(50px + 110 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__btn-generation {
    height: calc(10px + 50 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__btn-generation {
    font-size: calc(5px + 8 * ((100vw - 320px) / 850));
  }
}

.check-main__info {
  width: 110px;
  height: 70px;
  padding-top: 5px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2.6px;
  color: #17252a;
  background-color: #f2f2f2;
  border-radius: 15px;
}

@media (max-width: 1170px) {
  .check-main__info {
    width: calc(20px + 90 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__info {
    height: calc(12px + 58 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__info {
    padding-top: calc(2px + 3 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__info {
    font-size: calc(6px + 8 * ((100vw - 320px) / 850));
  }
}

.check-main__content {
  font-family: "Source Sans Pro";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
}

.check-main__check-lists {
  margin-top: 10px;
  padding-top: 10px;
  border-radius: 20px;
  background-color: #2b7a78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

@media (max-width: 1170px) {
  .check-main__check-lists {
    margin-top: calc(5px + 5 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__check-lists {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 850));
  }
}

.check-main__check-list {
  height: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 13px;
  width: 80%;
  text-transform: uppercase;
  background-color: #feffff;
  color: #17252a;
  border-radius: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1170px) {
  .check-main__check-list {
    height: calc(20px + 50 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__check-list {
    margin-bottom: calc(3px + 7 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__check-list {
    margin-top: calc(3px + 7 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__check-list {
    font-size: calc(2px + 11 * ((100vw - 320px) / 850));
  }
}

.check-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.check-main__named {
  margin: 10px;
  padding: 12px;
  margin-right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2b7a78;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 1170px) {
  .check-main__named {
    margin: calc(3px + 7 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__named {
    padding: calc(3px + 9 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__named {
    margin-right: calc(-3px + -7 * ((100vw - 320px) / 850));
  }
}

.check-main__name-check {
  padding: 5px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3.2px;
  color: #6d7783;
  width: 100%;
  border: none;
  border-radius: 5px;
}

@media (max-width: 1170px) {
  .check-main__name-check {
    padding: calc(1px + 4 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__name-check {
    padding-left: calc(3px + 12 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__name-check {
    font-size: calc(8px + 6 * ((100vw - 320px) / 850));
  }
}

.check-main #check-name {
  width: 2vw;
  height: 2vw;
  position: absolute;
  right: 1vw;
}

.check-main__check {
  margin-left: 10px;
  margin-right: -10px;
  height: 600px;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1170px) {
  .check-main__check {
    margin-left: calc(3px + 7 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__check {
    margin-right: calc(-3px + -7 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__check {
    height: calc(300px + 300 * ((100vw - 320px) / 850));
  }
}

.check-main__section {
  padding: 25px;
  background-color: #2b7a78;
  border-radius: 10px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1170px) {
  .check-main__section {
    padding: calc(1px + 24 * ((100vw - 320px) / 850));
  }
}

.check-main__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: right;
  letter-spacing: 4.2px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #feffff;
}

@media (max-width: 1170px) {
  .check-main__title {
    font-size: calc(10px + 14 * ((100vw - 320px) / 850));
  }
}

.check-main__per, .check-main__mist, .check-main__comm, .check-main__title-wgac {
  padding-top: 20px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  letter-spacing: 4.2px;
  color: #feffff;
}

@media (max-width: 1170px) {
  .check-main__per, .check-main__mist, .check-main__comm, .check-main__title-wgac {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__per, .check-main__mist, .check-main__comm, .check-main__title-wgac {
    font-size: calc(10px + 8 * ((100vw - 320px) / 850));
  }
}

.check-main #per,
.check-main #mist,
.check-main #comm {
  font-size: 14px;
  padding: 5px;
  width: 56%;
  border-radius: 5px;
  border: none;
  background-color: #feffff;
}

@media (max-width: 1170px) {
  .check-main #per,
  .check-main #mist,
  .check-main #comm {
    font-size: calc(10px + 4 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main #per,
  .check-main #mist,
  .check-main #comm {
    padding: calc(1px + 4 * ((100vw - 320px) / 850));
  }
}

.check-main #comm {
  height: 20vh;
}

.check-main__wgac {
  font-size: 14px;
  line-height: 30px;
  text-align: right;
  letter-spacing: 2.2px;
  color: #feffff;
}

@media (max-width: 1170px) {
  .check-main__wgac {
    font-size: calc(10px + 4 * ((100vw - 320px) / 850));
  }
}

.check-main__button {
  width: 150px;
  font-size: 20px;
  margin-top: 30px;
  padding: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  border: none;
  background-color: #17252a;
  color: #feffff;
  border-radius: 10px;
}

@media (max-width: 1170px) {
  .check-main__button {
    width: calc(80px + 70 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__button {
    font-size: calc(10px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__button {
    margin-top: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__button {
    padding: calc(10px + 5 * ((100vw - 320px) / 850));
  }
}

.check-main__crits {
  margin-left: 10px;
  padding-left: 10px;
  background-color: #2b7a78;
  border-radius: 10px;
  width: 25%;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 1170px) {
  .check-main__crits {
    margin-left: calc(3px + 7 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__crits {
    padding-left: calc(3px + 7 * ((100vw - 320px) / 850));
  }
}

.check-main__check-crit {
  height: 40px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 13px;
  width: 90%;
  background-color: #feffff;
  color: #17252a;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

@media (max-width: 1170px) {
  .check-main__check-crit {
    height: calc(5px + 35 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__check-crit {
    margin-bottom: calc(3px + 12 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__check-crit {
    margin-top: calc(3px + 12 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__check-crit {
    font-size: calc(8px + 5 * ((100vw - 320px) / 850));
  }
}

.check-main__info-page {
  margin-top: 10px;
  margin-left: 20px;
  padding: 20px;
  font-size: 16px;
  color: #17252a;
  background-color: #d8d8d8;
  border-radius: 10px;
  width: 15%;
  overflow-y: auto;
}

@media (max-width: 1170px) {
  .check-main__info-page {
    margin-top: calc(3px + 7 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__info-page {
    margin-left: calc(6px + 14 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__info-page {
    padding: calc(6px + 14 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-main__info-page {
    font-size: calc(10px + 6 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 2;
}

.check-popup-fade {
  font-family: "Source Sans Pro";
  font-weight: 900;
  color: #17252a;
}

.check-popup-fade__popup {
  padding: 50px;
  position: absolute;
  top: 6%;
  left: 22vw;
  right: 22vw;
  background: #c4c4c4;
  border-radius: 10px;
  z-index: 99;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1170px) {
  .check-popup-fade__popup {
    padding: calc(10px + 40 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade__popup-close {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.check-popup-fade__title {
  font-size: 28px;
  text-align: center;
}

@media (max-width: 1170px) {
  .check-popup-fade__title {
    font-size: calc(14px + 14 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade__content {
  padding: 20px;
}

@media (max-width: 1170px) {
  .check-popup-fade__content {
    padding: calc(5px + 15 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade input {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media (max-width: 1170px) {
  .check-popup-fade input {
    width: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-popup-fade input {
    height: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-popup-fade input {
    margin-right: calc(5px + 5 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade .cb-container {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1170px) {
  .check-popup-fade .cb-container {
    margin-bottom: calc(4px + 4 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade .param-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.check-popup-fade__check-lists, .check-popup-fade__smist, .check-popup-fade__perform, .check-popup-fade__wgac, .check-popup-fade__comm, .check-popup-fade__conclus {
  margin-top: 10px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-top: 1px solid #17252a;
}

@media (max-width: 1170px) {
  .check-popup-fade__check-lists, .check-popup-fade__smist, .check-popup-fade__perform, .check-popup-fade__wgac, .check-popup-fade__comm, .check-popup-fade__conclus {
    margin-top: calc(5px + 5 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-popup-fade__check-lists, .check-popup-fade__smist, .check-popup-fade__perform, .check-popup-fade__wgac, .check-popup-fade__comm, .check-popup-fade__conclus {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade__smist, .check-popup-fade__comm, .check-popup-fade__conclus {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.check-popup-fade #cb-sourmist,
.check-popup-fade #cb-comm,
.check-popup-fade #cb-conclus {
  margin-left: 20px;
}

@media (max-width: 1170px) {
  .check-popup-fade #cb-sourmist,
  .check-popup-fade #cb-comm,
  .check-popup-fade #cb-conclus {
    margin-left: calc(5px + 15 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade__check-container {
  margin-top: 20px;
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1170px) {
  .check-popup-fade__check-container {
    margin-top: calc(5px + 15 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-popup-fade__check-container {
    margin-left: calc(40px + 60 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade__param-title {
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 1170px) {
  .check-popup-fade__param-title {
    margin-bottom: calc(5px + 15 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade__param {
  margin-top: 20px;
  border-top: 2px solid #17252a;
}

@media (max-width: 1170px) {
  .check-popup-fade__param {
    margin-top: calc(5px + 15 * ((100vw - 320px) / 850));
  }
}

.check-popup-fade__ok {
  width: 150px;
  height: 70px;
  font-size: 24px;
  margin-top: 32px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4.2px;
  border: none;
  border-radius: 15px;
  margin-left: auto;
  background-color: #17252a;
  color: #feffff;
}

@media (max-width: 1170px) {
  .check-popup-fade__ok {
    width: calc(50px + 100 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-popup-fade__ok {
    height: calc(20px + 50 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-popup-fade__ok {
    font-size: calc(8px + 16 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .check-popup-fade__ok {
    margin-top: calc(8px + 24 * ((100vw - 320px) / 850));
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.check-list-active {
  background-color: #17252a;
  outline: 5px solid #d8d8d8;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #d8d8d8;
}

.check-list-completed {
  background-color: #17252a;
  color: #d8d8d8;
}

.check-crit-active {
  background-color: #17252a;
  outline: 5px solid #d8d8d8;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #d8d8d8;
}

.check-crit-completed {
  background-color: #17252a;
  color: #d8d8d8;
}
